.Xresources
.mutt/
.config/luakit/luakit-adblock
.config/pianobar/artist
.config/pianobar/nowplaying
.config/pianobar/isplaying
.config/pianobar/out
.config/pianobar/state
.config/pianobar/title
.config/ranger/bookmarks
.config/ranger/history
.mpd/mpd.db
.mpd/mpd.log
.mpd/mpd.pid
.mpd/mpdstate
.mpd/playlists/Main.m3u
.mutt/com*
Scripts/mps
.mpd/playlists/default.m3u

